<section class="hero is-primary is-medium"
[ngStyle]="{
    'background-image': 'url(' + backgroundUrl + ')',
    'background-size': 'cover',
    'background-position': 'center center'
  }">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <span class="navbar-burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item" routerLink="/homepage" routerLinkActive="is-active">
              <span class="icon">
                <i class="fa-solid fa-house"></i>
              </span>
              Home
            </a>
            <a class="navbar-item" routerLink="/izmeni" *ngIf="jePrijavljen" routerLinkActive="is-active">
              <span class="icon" id="userIcon">
                <i class="fa-solid fa-user"></i>
              </span>
              Nalog
            </a>
            <span class="navbar-item" *ngIf="!jePrijavljen">
              <a class="button is-primary is-inverted" routerLink="/prijava">
                <span>Prijavi se</span>
              </a>
            </span>
            <span class="navbar-item" *ngIf="!jePrijavljen">
              <a class="button is-primary is-inverted" routerLink="/registracija">
                <span>Registruj se</span>
              </a>
            </span>
            <span class="navbar-item" *ngIf="jePrijavljen">
              <a class="button is-primary is-inverted" (click)="odjaviSe()">
                <span>Odjavi se</span>
              </a>
            </span>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <p [style.color]="color" class="title">{{ title }}</p>
      <p [style.color]="color" class="subtitle">{{ subtitle }}</p>
    </div>
  </div>

  <!-- Hero footer: navbar dropdown -->
  <div class="hero-foot">
    <nav class="tabs is-boxed">
      <div class="container">
        <ul>
          <li routerLinkActive="is-active">
            <a class="navbar-item" routerLink="/detalji">O univerzitetu</a>
          </li>
          <li routerLinkActive="is-active">
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">Fakultet</a>
              <div class="navbar-dropdown">
                <a class="navbar-item" *ngFor="let fakultet of fakulteti" [routerLink]="['/fakulteti', fakultet.id]" >{{ fakultet.naziv }}</a>
              </div>
            </div>
          </li>
          <li routerLinkActive="is-active">
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">Studijski program</a>
              <div class="navbar-dropdown">
                <a class="navbar-item"  *ngFor="let sp of studijskiProgrami" [routerLink]="['/studijskiProgrami', sp.id]" >{{ sp.naziv }}</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>

</section>