<section class="hero is-primary is-medium"
[ngStyle]="{
    'background-image': 'url(' + backgroundUrl + ')',
    'background-size': 'cover',
    'background-position': 'center center'
  }">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <img src="https://bulma.io/assets/images/bulma-type-white.png" alt="Logo" />
          </a>
          <span class="navbar-burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item is-active" routerLink="/homepage"> Home </a>
            <a class="navbar-item"> Examples </a>
            <span class="navbar-item">
              <a class="button is-primary is-inverted" routerLink="/prijava">
                <span>Prijavi se</span>
              </a>
            </span>
            <span class="navbar-item">
              <a class="button is-primary is-inverted" routerLink="/registracija">
                <span>Registruj se</span>
              </a>
            </span>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">{{ title }}</p>
      <p class="subtitle">{{ subtitle }}</p>
    </div>
  </div>

  <!-- Hero footer: navbar dropdown -->
  <div class="hero-foot">
    <nav class="navbar is-primary">
      <div class="container">
        <div class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" routerLink="/detalji" routerLinkActive="is-active">O univerzitetu</a>
            <a class="navbar-item" routerLink="/upis" routerLinkActive="is-active">Upis</a>

            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">Fakultet</a>
              <div class="navbar-dropdown">
                  <a *ngFor="let fakultet of fakulteti" [routerLink]="['/fakulteti', fakultet.id]" class="navbar-item">{{ fakultet.naziv }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>

</section>