<app-homepage 
  [title]="'Upis na univerzitet'"
  [subtitle]="'Pronađi sve informacije o upisu'"
  [color]="'black'"
  [backgroundUrl]="'/assets/images/image4.jpg'"></app-homepage>
<section class="Podaci">
  <div class="container">
    <h2 class="title is-3">Osnovne informacije o upisu</h2>
    <p>
    Prijava kandidata za upis na osnovne studije Univerziteta traje od <strong>1. jula do 15. jula</strong>.
    Drugi upisni rok planiran je za početak septembra.
    </p>
    <p class="mt-3">
    Za prijavu je potrebno dostaviti originalna svedočanstva svih razreda, diplomu srednje škole,
    lični dokument, kao i dokaz o uplati troškova prijemnog ispita.
    </p>

    <h2 class="title is-3 mt-6">Fakulteti i studijski programi</h2>
    <p>Odaberite jedan od fakulteta kako biste saznali više o programima, prijemnim ispitima i uslovima upisa:</p>
   <div class="columns is-multiline mt-4">
      <div class="column is-one-third">
        <a routerLink="/fakulteti/1" class="box has-text-centered is-clickable">
          <strong>Fakultet tehničkih nauka</strong><br />
          Softversko inženjerstvo, Elektrotehnika, Mehatronika
        </a>
      </div>
      <div class="column is-one-third">
        <a *ngFor="let fakultet of fakulteti" [routerLink]="['/fakulteti', fakultet.id]" class="box has-text-centered is-clickable">
          <strong>{{ fakultet.naziv }}</strong><br />
          {{ fakultet.studijskiProgram.naziv }}
        </a>
      </div>
    </div>

    <div class="buttons mt-5">
      <a class="button is-primary" routerLink="/prijava">Prijavi se online</a>
      <a class="button is-link is-light" routerLink="/kontakt">Kontaktiraj univerzitet</a>
    </div>
  </div>
</section>