<app-homepage 
  [title]="'O Univerzitetu'"
  [subtitle]="'Savremeno obrazovanje za buduće lidere'"
  [backgroundUrl]="'/assets/images/image1.jpg'"></app-homepage>

<section class="Podaci" *ngIf="univerzitet">
  <div class="container">
    <h2 class="title is-3">Dobrodošli na Univerzitet</h2>
    <div class="content">
      <p class="formatirani-tekst"> {{ univerzitet.opis }} </p>  
    </div>

    <h3 class="title is-4 mt-5">Fakulteti i studijski programi</h3>
    <div *ngIf="univerzitet.fakulteti && univerzitet.fakulteti.length > 0"> 
      <ul>
        <li *ngFor="let fakultet of univerzitet.fakulteti">
          <strong>{{ fakultet.naziv }} :</strong> 
          <div *ngIf="fakultet.studijskiProgrami && fakultet.studijskiProgrami.length > 0">
            <ul>
                <li *ngFor="let sp of fakultet.studijskiProgrami">
                  {{sp.naziv}}
                </li>
            </ul>
        </div>
        </li>
      </ul>
    </div>

    <h3 class="title is-4 mt-5">Kontakt informacije</h3>
    <p>
      <strong>Lokacija: </strong>
      <span *ngIf="univerzitet.adresa">
        {{ univerzitet.adresa.ulica }} {{ univerzitet.adresa.broj }},
        {{ univerzitet.adresa.mesto }}, {{ univerzitet.adresa.drzava }}
      </span> <br />
    </p>

    <div class="buttons mt-5">
      <button class="button is-link" (click)="goBack()">Nazad na početnu</button>
    </div>
  </div>
</section>


