<div class="sidebar-wrapper">
  <aside class="menu">
    <p class="menu-label">Administration</p>
    <ul class="menu-list">
        <li>
        <a class="is-active">Registrovani korisnici</a>
        <ul>
            <li><a class="navbar-item" routerLink="/admin-dashboard/pregled-korisnika">Pregled korisnika</a></li>
            <li><a class="navbar-item" routerLink="/admin-dashboard/aktivacija">Aktiviraj nalog</a></li>
            <li><a class="navbar-item" routerLink="/admin-dashboard/nastavnik-forma">Dodaj nastavnika</a></li>
            <li><a>Dodaj osoblje</a></li>
        </ul>
        </li>
        <li><a class="navbar-item" routerLink="/admin-dashboard/studijski-program">Studijski programi</a></li>
        <li><a>Organizacija</a></li>
    </ul>
  </aside>
</div>