<div class="sidebar-wrapper">
  <aside class="menu">
    <p class="menu-label">Administration</p>
    <ul class="menu-list">
        <li>
        <a>Registrovani korisnici</a>
        <ul>
            <li><a class="navbar-item" routerLink="/admin-dashboard/pregled-korisnika" routerLinkActive="is-active">Pregled korisnika</a></li>
            <li><a class="navbar-item" routerLink="/admin-dashboard/aktivacija" routerLinkActive="is-active">Aktiviraj nalog</a></li>
            <li><a class="navbar-item" routerLink="/admin-dashboard/nastavnik-forma" routerLinkActive="is-active">Dodaj nastavnika</a></li>
            <li><a class="navbar-item" routerLink="/admin-dashboard/osoblje-forma" routerLinkActive="is-active">Dodaj osoblje</a></li>
        </ul>
        </li>
        <ul>
            <li><a class="navbar-item" routerLink="/admin-dashboard/univerzitet" routerLinkActive="is-active">Univerzitet</a></li>
            <li><a class="navbar-item" routerLink="/admin-dashboard/fakultet-stranica" routerLinkActive="is-active">Fakulteti</a></li>
            <li><a class="navbar-item" routerLink="/admin-dashboard/studijski-program-stranica" routerLinkActive="is-active">Studijski programi</a></li>
        </ul>
    </ul>
  </aside>
</div>